<div id="page-wrapper">
    这是用户首页
    这是用户首页这是用户首页这是用户首页


</div>

<script>

    //删除cookies
    function delCookie(name){
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval=getCookie(name);
        if(cval!=null){
            document.cookie= name + "="+cval+";expires="+exp.toGMTString();
        }
    }


</script>